@inherits RocketDocs.Components.RocketDocsTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using DNNrocketAPI.Components;
@using Simplisity;
@using RocketDocs.Components;
@using DNNrocketAPI.Components;

@{
    var articleData = (ArticleLimpet)Model.List.First();
    var info = articleData.Info;

    AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/");
    AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketDocs/App_LocalResources/");

}


<div id="articleedit" class="w3-display-container simplisity_panel">

            @if (UserUtils.IsEditor())
            {
                <div>
                    <a href="@Model.GetSetting("editurl")" class="w3-button">@ButtonIcon(ButtonTypes.edit)</a>
                </div>
            }

    <div id="a-articledata" class='w3-animate-opacity w3-margin-bottom'>

            @if (!info.GetXmlPropertyBool("genxml/textbox/hidesubject") && info.GetXmlProperty("genxml/lang/genxml/textbox/subjectkbase") != "")
            {
                <h1>@info.GetXmlProperty("genxml/lang/genxml/textbox/subjectkbase")</h1>
            }
    <div class="w3-row w3-padding-small">
        @if (!info.GetXmlPropertyBool("genxml/textbox/hidesummary") && info.GetXmlProperty("genxml/lang/genxml/textbox/summarysearch") != "")
        {
            <p>@info.GetXmlProperty("genxml/lang/genxml/textbox/summarysearch")</p>
        }
    <div class="w3-col m10">
        <div id="summarykbasehtml">
        </div>
    </div>
        <div id="anchormenu" class="w3-col m2 w3-padding-small">

        </div>
        @TextArea(info, "genxml/lang/genxml/textbox/summarykbase", "  style='width:100%;height: 100vh;display:none;' ")
    </div>

            <script>

                function summarykbaseShow() {
                    var converter = new showdown.Converter(),
                        text = $('#summarykbase').text(),
                        html = converter.makeHtml(text);
                    $('#summarykbasehtml').html(html);
                }

                function buildanchormenu() {
                    $("h2, h3, h5").each(function (index) {
                        if ($(this).is("h2")) {
                            $('#anchormenu').append("<div class='w3-margin-top w3-light-grey anchormenuh2' onclick=\"moveTo('" + $(this).attr('id') + "')\">" + $(this).text() + "</div>");
                        }
                        if ($(this).is("h3")) {
                            $('#anchormenu').append("<div class='w3-small w3-light-grey anchormenuh3' onclick=\"moveTo('" + $(this).attr('id') + "')\">" + $(this).text() + "</div>");
                        }
                        if ($(this).is("h5")) {
                            $('#anchormenu').append("<div class='w3-small w3-light-grey anchormenuh3' onclick=\"moveTo('" + $(this).attr('id') + "')\">" + $(this).text() + "</div>");
                        }
                    });
                }
                function moveTo(headingid) {
                    $([document.documentElement, document.body]).animate({
                        scrollTop: $('#' + headingid).offset().top
                    }, 200);
                }

                $(document).ready(function () {
                    $('.simplisity_loader').hide();
                    summarykbaseShow();
                    buildanchormenu();
                });


            </script>

    </div>
</div>


